.animation-box {
  position: relative;
  height: 100vh;
  width: 100vw;
  outline: 0;
  overflow: hidden;

  &::after {
    content: "";
    position: absolute;
    width: 200vw;
    height: 200vw;
    background: var(--background-secondary-alt);
    transform: translate(-50%, 1000px);
    left: 50%;
    border-radius: 40%;
    z-index: 5;
  }
}
.animation-box.liquid-enter {
  &::after {
    transform: translate(-50%, 1000px) rotate(0deg);
  }
}

.animation-box.liquid-enter-active {
  &::after {
    transform: translate(-50%, -300px) rotate(180deg);
    transition: transform 4s cubic-bezier(0.3, 0.01, 0.07, 0.98);
  }
}
.animation-box.liquid-exit {
  &::after {
    transform: translate(-50%, -300px) rotate(180deg);
  }
}
.animation-box.liquid-exit-active {
  &::after {
    transform: translate(-50%, -300px) rotate(180deg);
    transition: all 4s cubic-bezier(0.3, 0.01, 0.07, 0.98);
  }
}

#logo {
  z-index: 6;
  opacity: 0;
  animation: logo-animation 3s cubic-bezier(0.58, 0.38, 0, 1.41) 2s;
  animation-fill-mode: forwards;
  transition: all 3s ease 0;
}
@keyframes logo-animation {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
